.logo { 
    width: 5%;
    margin: 100px auto 50px;
}

.logo img{ /* actual img ; class */
    width: 100%;
    height: auto;
}

#important{     /* ID*/
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.important{    /* CLASS */
    color: red;
}
#box{
    width: 100%;
    height: 50px;
    background-color: purple;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.text-style{
    font-style: italic;
}

